
@media screen and (max-width: 900px) {
  #lista-linguaggi{
    margin-left: -275px;
    width: 250px;
  }
  #lista-linguaggi > ul{
    box-shadow: none;
  }
  #side-bar{
    display: flex;
  }
  #lista-esercizi{
      width: 100vw;
      margin-left: 20px;
      display: block;
  }
  #lista-esercizi>ul{
    width: 100%;
}
  #lista-esercizi>ul>li {
    min-width: 95% !important;
  }
}
@media screen and (max-width: 768px) {

  html{
    font-size: 15px !important;
  }
  #esercizio-punti{
   transform: translateX(50%);
  }
  #side-bar{
    top: 110px;
  }
  .mostra-side-bar{
    top: 165px;
  }
  #sezione > div{
    margin-left: 0 !important;
    margin: auto;
  }
}
@media screen and (max-width: 650px) {
  #top{
   flex-direction: column;
  }
  #dropdown{
    width: 100vw !important;
    min-width: 320px;
  }
  #profilo{
    width: 100%;
    min-width: 320px;
  }
  #top-menu{
    z-index: 10;
    min-width: 320px;
  }
  #scelta-livello{
    margin-bottom: 20px ;
  }
  #side-bar{
    top: 200px;
  }
  .mostra-side-bar{
    top: 260px;
  }

}
@media screen and (max-width: 375px) {

  html{
    font-size: 12px;
  }
  #side-bar{
    top: 200px;
  }
}
@media screen and (max-width: 320px) {

  html{
    font-size: 12px;
  }
  #side-bar{
    top: 200px;
  }
}

