@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background: #16171B;
    --menu: #121216;
    --div: #222327;
    --viola: #9549F7;
    --livello: #ECB618;
    --coloreEsercizi: #C9C9C9;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 0.8px;
}

html {
    font-size: 18px;
    width: 100vw;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    position: relative;
    background-image: url("../materiali/gears-7.jpg");
}
#wrapper{
    width: 100vw;
    min-height: 100vh;
    flex-direction: column !important;
}
.centrato{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#logo{
    position: absolute;
    top: 0;
}
#logo >img{
    width: 20rem;
    height: 4rem;
    margin: 50px;
}

#slogan{
    width:100vw;
    display: flex;
    flex-direction: column !important;
}
#primo-div{
    font-size: 4rem;
    /* text-align: left; */
    /* margin-left: 150px; */
}
#secondo-div{
    font-size: 1rem ;
    /* text-align: left; */
    /* margin-left: 150px; */


}
#linguaggi{
    position: absolute;
    bottom: 100px;
    display: flex;
}
#linguaggi >img{
    width: 30px;
    margin: 5px;
}
#bottoni{
    position: absolute;
    bottom: 0;
    display: flex;
}
button{
    width: 150px;
    margin: 50px 10px;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: none;
}
#or{
    margin: 50px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
a{
    text-decoration: none;

}
.button-default {
    background-image: linear-gradient(to right, violet 0%, var(--viola) 51%, violet 100%);
    border-radius: 5px;
    transition: 0.5s;
    display: block;
    background-size: 200% auto;
    cursor: pointer;
}
.button-default-right{
    background-image: linear-gradient(to right, yellow 0%, orange 51%, yellow 100%);
    border-radius: 5px;
    transition: 0.5s;
    display: block;
    background-size: 200% auto;
    cursor: pointer;

}

.button-default:hover {
    background-position: right center;
}
.button-default-right:hover {
    background-position: right center;
}
@media screen and (max-width: 768px) {

    #primo-div{
        font-size: 3rem;
    }
    #secondo-div{
        font-size: 0.7rem;
    }
}